{% extends "base_top.html"  %}


{#     {% block admin-panel %}#}
{##}
{#         <div class="btn-group" style="">#}
{#             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                     aria-expanded="false">#}
{#                 Cоздать#}
{#             </button>#}
{#             <div class="dropdown-menu">#}
{#                 <a class="dropdown-item" href="{% url "post_create_url" %}">Post</a>#}
{#                 <a class="dropdown-item" href="{% url "tag_create_url" %}">Tag</a>#}
{#             </div>#}
{#         </div>#}
{#         <a href="{{ admin_n.get_abs_update_url }}" class="btn btn-warning update" style="">Редактировать</a>#}
{#         <a href="{{ admin_n.get_abs_del_url }}" class="btn btn-danger del" style="">Удалить</a>#}
{##}
{#     {% endblock %}#}


